@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Condensed:wght@400;700&display=swap');
:root{
  font-family: 'Cabin', Sans-Serif;
  font-weight: lighter;
}
body {
  margin: 0;
  background-color: #f3f6fc;
}

